.post {
    border-style: solid;
    border-color: teal;
    padding: 1%;
    margin: 1%;

    button {
        margin: 1%;
        background-color: teal;
    }

    div {
        padding: 0.25rem;
    }
}

i {
    margin: 1%;
}

.post-username {
    font-weight: bold;
}

.timestamp {
    font-size: smaller;
    font-weight: lighter;
}

nav {
    background-color: teal;

    a {
        color: black;
    }
}

#user-page-data * {
    margin-left: 1%;
    display: inline-block;
}
